<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حساب کاربری</title>
</head>
<body>
    <h1>حساب کاربری</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h2>سلام {{ first_name }}!</h2>
    <p>به حساب کاربریتون خوش آمدید.</p>
    <h2>نکات مهم</h2>
    <p>1-هر یه باکس نوشابه خوب تک نفره مساویست با12 عدد نوشابه تک نفره</p>
    <p>2-هر یه باکس نوشابه خوب قوطی ای مساویست با 24 عدد نوشابه قوطی ای تک نفره</p>
    <p>3-هر یه باکس نوشابه خوب خانواده مساویست با 6 عدد نوشابه قوطی ای خانواده</p>
    <p>4-ما اینجا چندین طعم نوشابه خوب داریم:</p>
    <p>نوشابه با طعم کولا</p>
    <p>نوشابه با طعم پرتقال</p>
    <p>نوشابه با طعم لیمو</p>
    <p>نوشابه با طعم لیموناد</p>
    <br><br>
    <h2>سفارشات</h2>
    {%if b%}
        <table>
            <tr>
                <th>
                    <p>
                        سفارش
                    </p>
                </th>
                <th>
                    <p>
                        کد رهگیری
                    </p>
                </th>
                <th>
                    <p>
                        وضعیت سفارش
                    </p>
                </th>
            </tr>
        {%for i in b%}
            <tr>
                {%for n in i%}
                    <td>
                        <p>{{n}}</p>
                    </td>
                {%endfor%}
            </tr>
        {%endfor%}
    {%else%}
        <p>سفارشی وجود ندارد</p>
    {%endif%}
    </table>
    <form action="/shop" method="post">
      <input type="hidden" name="id" value="{{a}}" id="2">
      <button type="submit" style="color: white;background-color: #500000;">مغازه</button>
    </form>
</body>
</html>
