{%extends 'base.html'%}
{%block head%}
    <title>سلام ادمین</title>
{%endblock%}
{%block body%}
    <h1>سلام ادمین</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <p>به پنل مدیریت سفارشات خوش آمدی</p>
    <h2>سفارشات</h2>
    {%if b%}
        <table>
            <tr>
                <th>
                    <p>نام</p>
                </th>
                <th>
                    <p>
                        نام خانوادگی
                    </p>
                </th>
                <th>
                    <p>
                        شماره تلفن همراه
                    </p>
                </th>
                <th>
                    <p>
                        سفارش
                    </p>
                </th>
                <th>
                    <p>
                        کد رهگیری
                    </p>
                </th>
                <th>
                    <p>
                        وضعیت سفارش
                    </p>
                </th>
            </tr>
        {%for i in b%}
            <tr>
                {%for n in i%}
                    <td>
                        <p>{{n}}</p>
                    </td>
                {%endfor%}
            </tr>
        {%endfor%}
        <form action="/delete" method="post">
            <input type="text" name="id" id="1" placeholder="کد رهگیری مورد نظر">
            <br>
            <button type="submit" class="b">حذف</button>
        </form>
    {%else%}
        <p>سفارشی وجود ندارد</p>
    {%endif%}
    </table>
{%endblock%}