<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درگاه پرداخت</title>
</head>
<body>
    <h1>درگاه پرداخت</h1>
    <p>فرض کنید که داخل درگاه پرداخت هستید و 10 ثانیه منتظر بمانید</p>
    <script>
        setTimeout(() => {
            alert("خب الان مثلا شما هزینه رو پرداخت کردبد");
        window.location.href = '/success';
        } , 10000);
        
            
    </script>
</body>
</html>