<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
</head>
<body>
    <h1>نوشابه خوب نیست ...</h1>
    <h2>پس باید نوشابه خوب خرید</h2>
    <p>سلام ما تولید کننده نوشابه خوب و بی ضرر هستیم.قصه ساخت این نوشابه از اونجا کلید خورد که یکی برگشت و گفت نوشابه خوب نیست و بعد هم با سر دادن ولی خب نوشابه را خورد و ما با خودمون گفتیم که چرا یه آدم با اینکه میدونه نوشابه خوب نیست و بده اما باید به خاطر خوشمزگیش اون ضرر رو تحمل کنه پس ما به این فکر افتادیم که یه نوشابه خوب درست کنیم.پس</p><br>
    <p><b>نوشابه خوب نیست ولی ما نوشابه خوب ساختیم</b></p><br>
    <p><b>نوشابه خوب نیست ولی باید نوشابه خوب خرید</b></p><br>
    <div class="ti"> 
        <div>
            <h2 style="text-align: center;">تیزر فارسی نوشابه خوب</h2>
            <video src="../static/videos/t-fa.mp4" style="margin: auto;width: 70%;margin-left: 15%;margin-right: 15%;" controls ></video>
        </div>
        <div>
            <h2 style="text-align: center;">تیزر انگلیسی نوشابه خوب</h2> 
            <video src="../static/videos/t-en.mp4" style="margin: auto;width: 70%;margin-left: 15%;margin-right: 15%;" controls></video>
        </div>
    </div>
</body>
</html>