{%extends 'base.html'%}
{%block head%}
    <title>مرور</title>
{%endblock%}
{%block body%}
    <h1>مرور</h1>
    <p>آیا این اطلاعات خرید را قبول میکنید</p>
    <table>
        <tr>
            <th>
                <p>نام کالا</p>
            </th>
            <th>
                <p>تعداد</p>
            </th>
            <th>
                <p>قیمت</p>
            </th>
        </tr>
        {%for i in form_request%}
            <tr>
                {%for n in i%}
                    <td>
                        <p>{{n}}</p>
                    </td>
                {%endfor%}
            </tr>
        {%endfor%}
    </table>
    
    <form action="/shop" method="post">
        <button class="no" type="submit">نه</button>
        <input type="hidden" name="id" id="10" value="{{a}}">
    </form>
        
        
    <form action="/buy" method="post">
        <input type="hidden" name="request" id="data" value="{{fre}}">
        <input type="hidden" name="id" id="11" value="{{a}}">
        <button class="yes" type="submit">بله</button>
    </form>
        
{%endblock%}