<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <h1>shop</h1>
    <form action="/review" method="POST">
        <span><p>1</p></span><input type="number" name="thing1" id="1" placeholder="number" value="0">
        <span><p>2</p></span><input type="number" name="thing2" id="2" placeholder="number" value="0">
        <span><p>3</p></span><input type="number" name="thing3" id="3" placeholder="number" value="0">
        <span><p>4</p></span><input type="number" name="thing4" id="4" placeholder="number" value="0">
        <span><p>5</p></span><input type="number" name="thing5" id="5" placeholder="number" value="0">
        <span><p>6</p></span><input type="number" name="thing6" id="6" placeholder="number" value="0">
        <span><p>7</p></span><input type="number" name="thing7" id="7" placeholder="number" value="0">
        <span><p>8</p></span><input type="number" name="thing8" id="8" placeholder="number" value="0">
        <br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>
