{%extends 'base.html'%}
{%block head%}
    <title>ثبت نام</title>
{%endblock%}
{%block body%}
    <h1>ثبت نام</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form id="captureForm" action="/start_capture" method="POST">
        <input type="text" name="first_name" placeholder="نام" required><br><br>
        <input type="text" name="last_name" placeholder="نام خانوادگی" required><br><br>
        <input type="text" name="phone_number" placeholder="شماره تلفن همراد" required><br><br>
        <input type="email" name="email" placeholder="نشانی الکترونیک(ایمیل)" required><br><br>
        <button type="submit" class="b">شروع اسکن چهره</button>
    </form>

    <script>
        let frameCount = 0;

        const videoElement = document.getElementById('video');

        // Listen for when the video feed is loaded
        videoElement.onload = () => {
            setInterval(() => {
                frameCount++;
                if (frameCount === 30) {
                    // Redirect to account after capturing 30 frames
                    window.location.href = '/account';
                }
            }, 1000); // Adjust this based on your frame capture logic
        };
    </script>
{%endblock%}
